$color-one: rgb(247, 247, 247);
$color-two: rgb(153, 162, 162);
$color-three: rgb(95, 95, 95);
$color-four: #037ef3;

// *,
// html {
//   margin: 0;
//   padding: 0;
// }

a {
  text-decoration: none;
  color: $color-three;
}

a:hover {
  text-decoration: none;
  color: $color-three;
  @media screen and (min-width: 768px) {
    border-left: 9px solid $color-four;
  }
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.parent-body {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.js-documentation {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

#navbar {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 25%;
  }
}

.nav-link {
  display: block;
  padding: 10px 0 10px 30px;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: block;
    border-top: 1px solid $color-two;
    padding: 20px 0 20px 20px;
    transition: all 0.3s;
  }
}

nav {
  @media screen and (min-width: 768px) {
    border-right: 3px solid $color-two;
  }
}

main {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 70%;
    // max-width: 75%;
    margin: 0 auto;
  }
  //   background-color: red;
}

.code {
  background-color: $color-one;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
}

header {
  font-weight: bold;
  font-size: 25px;
}

#global-variables,
#data-types,
#while-statement {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
}
