$color-one: rgb(247, 247, 247);
$color-two: rgb(153, 162, 162);

// *,
// html {
//   margin: 0;
//   padding: 0;
// }

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.parent-body {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.js-documentation {
  text-align: center;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.nav-link {
  display: block;
  @media screen and (min-width: 768px) {
    display: block;
    width: 280px;
    // margin: 20px 0 0 0;
    border-top: 1px solid $color-two;
    padding: 20px 0 20px 0;
  }
}

nav {
  @media screen and (min-width: 768px) {
    border-right: 3px solid $color-two;
  }
}

main {
  width: 100%;
  max-width: 88%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
  }
  //   background-color: red;
}

.code {
  background-color: $color-one;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
}

header {
  font-weight: bold;
  font-size: 20px;
}

#global-variables,
#data-types,
#while-statement {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
}
